{% extends "AcmeBnqaBundle:Report:_report_base.html.twig" %}
{% block image1 %}
    <a href="{{ path('user_show',{'username':report.username}) }}">
        {% if report.profile_img_url == null %}
            <img src="{{ asset('bundles/acmebnqa/images/profile-img-default.png') }}" class="profile-img-middle img-polaroid img-rounded">
        {% else %}
            <img src="{{ asset( report.profile_img_url) }}" class="profile-img-middle img-polaroid img-rounded">
        {% endif %}
    </a>
{% endblock %}
{% block image2 %}
    <a href="{{ path('item_show',{'asinCode':report.raw_item_id}) }}">
        <img src="{{ asset(report.item_img_url) }}" class="img-polaroid item-img">
    </a>
{% endblock %}
{% block title %}
    <a href="{{ path('user_show',{'username':report.username}) }}" class="muted">
        {{ report.username }}
    </a>
{% endblock %}